.signup-flex{
  display: flex;
  width: 100%;
  height: 100vh;
}

.right-corner-signup{
  background-color: #00296b;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-corner-signup{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.center-div{
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  width: 50%;
}

.text-field-adjust{
  width: 100%;
}

.form-btn{
  background-color: #00296b !important;
}

.auth-img{
  width: 50%;
}