:root {
  --main-color: #00296b;
}

.right-corner-signup {
  background-color: var(--main-color);
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-corner-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-div {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  width: 50%;
}

.text-field-adjust {
  width: 100%;
}

.form-btn {
  background-color: var(--main-color) !important;
}

.auth-img {
  width: 50%;
}

.card-main{
  display: flex;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center;
}

@media (max-width: 600px) {
  .left-corner-signup {
    width: 100%;
    height: 100vh;
  }

  .center-div {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 80%;
  }
}
